<table class="table">
{% set ns = namespace(found=false) %}
<tbody>
	{% set ns.previous = 1900 %}
	{% for entry in entries %}
	<tr>
		<td class="text-center">
			<span class="date">
				{% set ns.display = entry.fields['year'] != ns.previous %}
				{% if ns.display %}
				<big><strong>{{ entry.fields['year'] }}</strong></big><br />
				{% endif %}
				{% set ns.previous = entry.fields['year'] %}
				<em>{{ entry.fields['month'] }}</em><br />
			{%- if entry.fields['type'] == "C" %}
			<span class="badge badge-pill badge-primary">Conference</span>
			{%- elif entry.fields['type'] == "J" %}
			<span class="badge badge-pill badge-warning">Journal</span>
			{%- elif entry.fields['type'] == "W" %}
			<span class="badge badge-pill badge-secondary">Workshop</span>
			{%- elif entry.fields['type'] == "P" %}
			<span class="badge badge-pill badge-info">Poster</span>
			{%- elif entry.fields['type'] == "T" %}
			<span class="badge badge-pill badge-dark">Tutorial</span>
			{%- elif entry.fields['type'] == "Thesis" %}
			<span class="badge badge-pill badge-success">Thesis</span>
			{%- endif %}
			{% if entry.fields['award'] == "true" %}<br />
				<i class="fas fa-award"></i>
			{% endif %}
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				{%- set url = entry|main_url %}
				{%- if url %}
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="{{ url|escape }}"><strong>{{ entry|title }}</strong></a>.
				{%- else %}
				<strong>{{ entry|title }}</strong>.
				{%- endif %}
			</span><br />
			<span class="authors">
				{% if entry.fields['type'] == "Thesis" %}
					<i class="fas fa-graduation-cap"></i>
				{% endif %}
				{{ entry.persons['author']|author_list }}.
			</span><br />
			<em><span class="venuetype">{{ entry|venue_type -}}</span><span class="venue">{{ entry|venue -}}</span></em>.
			{% if entry.fields['award'] == "true" %}
				(<i class="fas fa-award"></i> <em><strong>Best Paper Award</strong></em>)
			{% endif %}
		</td>
	</tr>
	{%- endfor %}
</tbody>
</table>
