<table class="table">

<tbody>
	
	
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				<big><strong>2020</strong></big><br />
				
				
				<em>November</em><br />
			<span class="badge badge-pill badge-warning">Journal</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-02982281"><strong>MeLa: A Programming Language for a New Multidisciplinary Oceanographic Float</strong></a>.
			</span><br />
			<span class="authors">
				
				S{\'e}bastien Bonnieux, Dorian Cazau, S{\'e}bastien Mosser, Mireille Blay-Fornarino, Yann Hello, and Guust Nolet.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">Sensors 20(21)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em></em><br />
			<span class="badge badge-pill badge-warning">Journal</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.inria.fr/hal-02612087/file/ieeesw-moda-preprint.pdf"><strong>A Hitchhiker's Guide to Model-Driven Engineering for Data-Centric Systems</strong></a>.
			</span><br />
			<span class="authors">
				
				Benoit Combemale, Jörg Kienzle, Gunter Mussbacher, Hyacinth Ali, Daniel Amyot, Mojtaba Bagherzadeh, Edouard Batot, Nelly Bencomo, Benjamin Benni, Jean-Michel Bruel, Jordi Cabot, Betty H C Cheng, Philippe Collet, Gregor Engels, Robert Heinrich, Jean-Marc Jézéquel, Anne Koziolek, Sébastien Mosser, Ralf Reussner, Houari Sahraoui, Rijul Saini, June Sallou, Serge Stinckwich, Eugene Syriani, and Manuel Wimmer.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">IEEE Software</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				<big><strong>2019</strong></big><br />
				
				
				<em>December</em><br />
			<span class="badge badge-pill badge-success">Thesis</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<strong>Enabling white-box reasonings on black-box composition operators in a domain-independent way</strong>.
			</span><br />
			<span class="authors">
				
					<i class="fas fa-graduation-cap"></i>
				
				Benjamin Benni.
			</span><br />
			<em><span class="venuetype">Ph.D. thesis, Université Côte d'Azur</span><span class="venue"></span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>October</em><br />
			<span class="badge badge-pill badge-secondary">Workshop</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<strong>When DevOps meets Meta-Learning : A Portfolio to rule them all</strong>.
			</span><br />
			<span class="authors">
				
				Benjamin Benni, Mireille Blay-Fornarino, Sébastien Mosser, Fréderic Precioso, and Günther Jungbluth.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">International Workshop on DevOps co-located with MODELS</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>July</em><br />
			<span class="badge badge-pill badge-warning">Journal</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<strong>A Delta-oriented Approach to Support the Safe Reuse of Black-box Code Rewriters</strong>.
			</span><br />
			<span class="authors">
				
				Benjamin Benni, Sébastien Mosser, Naouel Moha, and Michel Riveill.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">Journal of Software: Evolution and Process (JSEP), ICSR special issue</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>June</em><br />
			<span class="badge badge-pill badge-primary">Conference</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-02361275"><strong>Model-driven Programming of Autonomous Floats for Multidisciplinary Monitoring of the Oceans</strong></a>.
			</span><br />
			<span class="authors">
				
				Sébastien Bonnieux, Sébastien Mosser, Blay-Fornarino Mireille, Yann Hello, and Guust Nolet.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">IEEE Oceanic Engineering Society & Marine Technology Society (OCEANS)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>June</em><br />
			<span class="badge badge-pill badge-warning">Journal</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<strong>Contents for a Model-Based Software Engineering Body of Knowledge</strong>.
			</span><br />
			<span class="authors">
				
				Loli Burgeno, Federico Ciccozzi, Michalis Famelis, Gerti Kappel, Leen Lambers, Sébastien Mosser, Richard Paige, Alfonso Pierantonio, Arend Rensink, Rick Salay, Gabi Taentzer, Antonio Vallecillo, and Manuel Wimmer.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">Journal of Software and Systems Modeling</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>May</em><br />
			<span class="badge badge-pill badge-primary">Conference</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-02061251?lang=en"><strong>Multifaceted Automated Analyses for Variability-Intensive Embedded Systems</strong></a>.
			</span><br />
			<span class="authors">
				
				Sami Lazreg, Maxime Cordy, Philippe Collet, Patrick Heymans, and Sébastien Mosser.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">41st ACM/IEEE International Conference on Software Engineering (ICSE)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>March</em><br />
			<span class="badge badge-pill badge-warning">Journal</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-01880430?lang=en"><strong>Leveraging live machine learning and deep sleep to support a self-adaptive efficient configuration of battery powered sensors</strong></a>.
			</span><br />
			<span class="authors">
				
				Cyril Cecchinel, François Fouquet, Sébastien Mosser, and Philippe Collet.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">Future Generation Computer Systems (FGS)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				<big><strong>2018</strong></big><br />
				
				
				<em>December</em><br />
			<span class="badge badge-pill badge-warning">Journal</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-01803008?lang=en"><strong>Concern-Oriented Language Development (COLD): Fostering Reuse in Language Engineering</strong></a>.
			</span><br />
			<span class="authors">
				
				Benoit Combemale, Jörg Kienzle, Gunter Mussbacher, Olivier Barais, Erwan Bousse, Walter Cazzola, Philippe Collet, Thomas Degueule, Robert Heinrich, Jean-Marc Jézéquel, Manuel Leduc, Tanja Mayerhofer, Sébastien Mosser, Matthias Schöttle, Misha Strittmatter, and Andreas Wortmann.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">Computer Languages, Systems and Structures</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>October</em><br />
			<span class="badge badge-pill badge-warning">Journal</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-02061255?lang=en"><strong>Functional feasibility analysis of variability-intensive data flow-oriented applications over highly-configurable platforms</strong></a>.
			</span><br />
			<span class="authors">
				
				Sami Lazreg, Philippe Collet, and Sébastien Mosser.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">ACM SIGAPP Applied Computing Review (ACM Digital Library)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>September</em><br />
			<span class="badge badge-pill badge-success">Thesis</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<strong>Passage à l'échelle pour des flots d'apprentissage dans la plateforme ROCKFLOWS</strong>.
			</span><br />
			<span class="authors">
				
					<i class="fas fa-graduation-cap"></i>
				
				Günther Jungbluth.
			</span><br />
			<em><span class="venuetype">Master's thesis, Polytech Nice - Sophia Antipolis, Université Côte d'Azur</span><span class="venue"></span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>August</em><br />
			<span class="badge badge-pill badge-dark">Tutorial</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-01947831v1?lang=en"><strong>Reconciling Requirements and Continuous Integration in an Agile Context</strong></a>.
			</span><br />
			<span class="authors">
				
				Sébastien Mosser and Jean-Michel Bruel.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">International Requirements Engineering Conference (RE)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>June</em><br />
			<span class="badge badge-pill badge-primary">Conference</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-01816334"><strong>Support of Justification Elicitation: Two Industrial Reports</strong></a>.
			</span><br />
			<span class="authors">
				
				Cl{\'e}ment DUFFAU, Thomas Polacsek, and Mireille Blay-Fornarino.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">30th International Conference on Advanced Information Systems Engineering (CAISE'2018)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>May</em><br />
			<span class="badge badge-pill badge-primary">Conference</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-01903003"><strong>Guiding Clone-and-Own When Creating Unplanned Products from a Software Product Line</strong></a>.
			</span><br />
			<span class="authors">
				
				Eddy Ghabach, Mireille Blay-Fornarino, Franjieh EL KHOURY, and Badih Baz.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">International Conference on Software Reuse (ICSR) (New Opportunities for Software Reuse 17th International Conference, ICSR 2018, Madrid, Spain, May 21-23, 2018, Proceedings)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>May</em><br />
			<span class="badge badge-pill badge-primary">Conference</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-01903006"><strong>Clone-and-Own Software Product Derivation Based on Developer Preferences and Cost Estimation</strong></a>.
			</span><br />
			<span class="authors">
				
				Eddy Ghabach, Mireille Blay-Fornarino, Franjieh El Khoury, and Badih Baz.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">12th International Conference on Research Challenges in Information Science, RCIS 2018</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>May</em><br />
			<span class="badge badge-pill badge-primary">Conference</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-01819287"><strong>Une s\'emantique pour les patrons de justification</strong></a>.
			</span><br />
			<span class="authors">
				
				Cl{\'e}ment DUFFAU, Thomas Polacsek, and Mireille Blay-Fornarino.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">36\`eme Congr\`es INFORSID (INFormatique des ORganisations et Syst\`emes d'Information et de D\'ecision)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>May</em><br />
			<span class="badge badge-pill badge-primary">Conference</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-01722040?lang=en"><strong>A Delta-oriented Approach to Support the Safe Reuse of Black-box Code Rewriters</strong></a>.
			</span><br />
			<span class="authors">
				
				Benjamin Benni, Sébastien Mosser, Naouel Moha, and Michel Riveill.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">17th International Conference on Software Reuse (ICSR)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>April</em><br />
			<span class="badge badge-pill badge-primary">Conference</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-01659776?lang=en"><strong>Supporting Micro-services Deployment in a Safer Way: a Static Analysis and Automated Rewriting Approach</strong></a>.
			</span><br />
			<span class="authors">
				
				Benjamin Benni, Sébastien Mosser, Philippe Collet, and Michel Riveill.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">International Symposium on Applied Computing (SAC)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>April</em><br />
			<span class="badge badge-pill badge-primary">Conference</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-01659786?lang=en"><strong>Enabling lock-free concurrent workers over temporal graphs composed of multiple time-series</strong></a>.
			</span><br />
			<span class="authors">
				
				François Fouquet, Thomas Hartmann, Sébastien Mosser, and Maxime Cordy.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">International Symposium on Applied Computing (SAC)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em></em><br />
			<span class="badge badge-pill badge-success">Thesis</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://tel.archives-ouvertes.fr/tel-01978192"><strong>Justification Factory: de l'\'elicitation d'exigences de justification jusqu'\`a leur production en continu. (Justification Factory: from justification requirements elicitation to their continuous production)</strong></a>.
			</span><br />
			<span class="authors">
				
					<i class="fas fa-graduation-cap"></i>
				
				Cl{\'{e}}ment Duffau.
			</span><br />
			<em><span class="venuetype">Ph.D. thesis, University of C{\^{o}}te d'Azur, Nice, France</span><span class="venue"></span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em></em><br />
			<span class="badge badge-pill badge-success">Thesis</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://tel.archives-ouvertes.fr/tel-01931217"><strong>Supporting Clone-and-Own in software product line. (Prise en charge du \guillemotleft copie et appropriation \guillemotright dans les lignes de produits logiciels)</strong></a>.
			</span><br />
			<span class="authors">
				
					<i class="fas fa-graduation-cap"></i>
				
				Eddy Ghabach.
			</span><br />
			<em><span class="venuetype">Ph.D. thesis, University of C{\^{o}}te d'Azur, Nice, France</span><span class="venue"></span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				<big><strong>2017</strong></big><br />
				
				
				<em>November</em><br />
			<span class="badge badge-pill badge-success">Thesis</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://tel.archives-ouvertes.fr/tel-01703857?lang=en"><strong>DEPOSIT : une approche pour exprimer et déployer des politiques de collecte sur des infrastructures de capteurs hétérogènes et partagées</strong></a>.
			</span><br />
			<span class="authors">
				
					<i class="fas fa-graduation-cap"></i>
				
				Cyril Cecchinel.
			</span><br />
			<em><span class="venuetype">Ph.D. thesis, Université Côte d'Azur</span><span class="venue"></span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>October</em><br />
			<span class="badge badge-pill badge-primary">Conference</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-01678815"><strong>Towards Embedded System Agile Development Challenging Verification, Validation and Accreditation : Application in a Healthcare Company</strong></a>.
			</span><br />
			<span class="authors">
				
				Cl{\'e}ment DUFFAU, Bartosz Grabiec, and Mireille Blay-Fornarino.
			</span><br />
			<em><span class="venuetype"></span><span class="venue"> ISSRE 2017- IEEE International Symposium on Software Reliability Engineering</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>September</em><br />
			<span class="badge badge-pill badge-success">Thesis</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://tel.archives-ouvertes.fr/tel-01661311?lang=en"><strong>Préserver la séparation des préoccupations durant l’intégration de domaines hétérogènes dans les systèmes logiciels</strong></a>.
			</span><br />
			<span class="authors">
				
					<i class="fas fa-graduation-cap"></i>
				
				Ivan Logre.
			</span><br />
			<em><span class="venuetype">Ph.D. thesis, Université Côte d'Azur</span><span class="venue"></span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>June</em><br />
			<span class="badge badge-pill badge-primary">Conference</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-01678821"><strong>Vers l'argumentation automatique d'exp\'erimentations : application \`a un portfolio de workflows</strong></a>.
			</span><br />
			<span class="authors">
				
				Cl{\'e}ment DUFFAU, C{\'e}cile Camillieri, and Mireille Blay-Fornarino.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">6\`eme Conf\'erence en Ing\'enieriE du Logiciel (CIEL)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>April</em><br />
			<span class="badge badge-pill badge-primary">Conference</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-01678797"><strong>Improving Confidence in Experimental Systems through Automated Construction of Argumentation Diagrams</strong></a>.
			</span><br />
			<span class="authors">
				
				Cl{\'e}ment DUFFAU, C{\'e}cile Camillieri, and Mireille Blay-Fornarino.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">19th International Conference on Enterprise Information Systems (ICEIS)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em></em><br />
			<span class="badge badge-pill badge-warning">Journal</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://doi.org/10.3166/dn.2017.00005"><strong>Introduction</strong></a>.
			</span><br />
			<span class="authors">
				
				Jolita Ralyt{\'{e}} and Mireille Blay{-}Fornarino.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">Document Num\'erique 20(1)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em></em><br />
			<span class="badge badge-pill badge-warning">Journal</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="http://isi.revuesonline.com/article.jsp?articleId=38449"><strong>\'Editorial</strong></a>.
			</span><br />
			<span class="authors">
				
				Mireille Blay{-}Fornarino and Jolita Ralyt{\'{e}}.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">Ing\'enierie des Syst\`emes d Inf. 22(2)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				<big><strong>2016</strong></big><br />
				
				
				<em>December</em><br />
			<span class="badge badge-pill badge-primary">Conference</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-01411084?lang=en"><strong>Automated Deployment of Data Collection Policies over Heterogeneous Shared Sensing Infrastructures</strong></a>.
			</span><br />
			<span class="authors">
				
				Cyril Cecchinel, Sébastien Mosser, and Philippe Collet.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">Asia-Pacific Software Engineering Conference (APSEC)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>October</em><br />
			<span class="badge badge-pill badge-primary">Conference</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-01484050"><strong>Towards a Software Product Line for Machine Learning Workflows: Focus on Supporting Evolution</strong></a>.
			</span><br />
			<span class="authors">
				
				C{\'e}cile Camillieri, Luca Parisi, Mireille Blay-Fornarino, Fr{\'e}d{\'e}ric Precioso, Michel Riveill, and Jo{\"e}l Cancela-Vaz.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">10th Workshop on Models and Evolution co-located with ACM/IEEE 19th International Conference on Model Driven Engineering Languages and Systems (MODELS 2016)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>June</em><br />
			<span class="badge badge-pill badge-primary">Conference</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-01678827"><strong>Du recueil d'expertises \`a la production de logiciels fiables Application aux syst\`emes de neurostimulation m\'edicale</strong></a>.
			</span><br />
			<span class="authors">
				
				Cl{\'e}ment DUFFAU and Mireille Blay-Fornarino.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">INFormatique des ORganisations et Syst\`emes d'Information et de D\'ecision 2016 (INFORSID)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>June</em><br />
			<span class="badge badge-pill badge-success">Thesis</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<strong>Composition logicielle & Lignes de produits</strong>.
			</span><br />
			<span class="authors">
				
					<i class="fas fa-graduation-cap"></i>
				
				Benjamin Benni.
			</span><br />
			<em><span class="venuetype">Master's thesis, Polytech Nice - Sophia Antipolis, Université Nice - Sophia Antipolis</span><span class="venue"></span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>April</em><br />
			<span class="badge badge-pill badge-primary">Conference</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-01341093?lang=en"><strong>Towards a (de)composable workflow architecture to define data collection policies</strong></a>.
			</span><br />
			<span class="authors">
				
				Cyril Cecchinel, Sébastien Mosser, and Philippe Collet.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">International Symposium on Applied Computing (SAC)</span></em>.
			
		</td>
	</tr>
</tbody>
</table>
